{% extends "layout.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/site.css">
{% endblock %}
{% block body %} 
<article class="pure-g">
    <section class="pure-u-1-2 media">
        <div class="pure-g">
            <h2 class="pure-u-1">{{meta.title}}</h2>
            <div class="thumbnail pure-u-1-2">
                <img class="pure-img" src="{{thumb}}">
            </div>
            <!--<div class="playlist pure-u-1-2"></div>-->
            <audio id="player" class="player" preload="auto" autoplay controls>
                Your Browser does not support the <code>audio</code>Element.
                <source src="/song/{{fileName}}" type="audio/mp3">
                
            </audio>
            <div class="pure-u-1-2">
                <button class="pure-button" onclick="document.getElementById('player').play()">Play the Audio</button>
                <button class="pure-button" onclick="document.getElementById('player').pause()">Pause the Audio</button>
                <button class="pure-button" onclick="document.getElementById('player').volume+=0.1">Increase Volume</button>
                <button class="pure-button" onclick="document.getElementById('player').volume-=0.1">Decrease Volume</button>
            </div>
            <dl class="pure-u-1-2">
                <dt>Duration</dt>
                <dd>{{meta.duration}}</dd>
            </dl>
        </div>
    </section>
</article>
{% endblock %} 
{% block scripts %} 
    <script src="/js/client.js"></script>
{% endblock %}